*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    // border: 1px solid #f00 !important;
  }

body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px (user agent font size) is 10 px */
    @include respond(tab-land) {
        font-size: 56.25%; // 56.25% = 9px
    }
    @include respond(tab-port) {
        font-size: 50%; // 50% = 8px
    }
    @include respond(big-desktop) {
        font-size: 75%; // 75% = 12px
    }
}
