body,
input,
textarea,
button {
    font-weight: 400;
    line-height: 1.4;
    font-family: $primary-font;
}

a {
	text-decoration: none;
    font-family: $primary-font;
}

.heading-primary {
	font-size: 2.8rem;
	color: $black;
	font-weight: 700;
	text-transform: uppercase;
	
	&--white {
		color: $white;
	}

	@include respond(tab-port) {
		font-size: 2.6rem;
	}

	@include respond(phone) {
		font-size: 2.4rem;
	}
}

.heading-secondary {
	font-size: 1.8rem;
	font-weight: 800;
	color: $black;
	
	&--bold {
		font-weight: 800;
	}

	&--semi-bold {
		font-weight: 500;
	}
	
	&--light {
		font-weight: 400;
	}

	&--white {
		color: $white;
	}

	&--uppercase {
		text-transform: uppercase;
	}
}

.heading-tertiary {
	font-size: 2rem;
	color: $black;
	font-weight: 600;
	position: relative;
	top: 1rem;
	
	&--white {
		color: $white;
	}

	&--bold {
		font-weight: 700;
	}
}

.paragraph {
	& {
		font-size: 1.4rem;
		font-weight: 500;
		color: $black;
	}

	&--small {
		font-size: 1.2rem;
	}

	&--white {
		color: $white;
	}

	&--grey {
		color: grey;
	}

	&--bold {
		font-weight: 600;
	}


	&--light {
		font-weight: 400;
	}

	&__ul {
		margin-left: 1.5rem;
		list-style-type: none;
	}

	&__li {
		&::before {
			content: " \00BB";
			color: $black;
			position: relative;
			right: .5rem;
			top: -.2rem;
		}
	}
}

.nav {
	&__link-item {
		font-weight: 500;
		color: $black;
		font-size: 1.6rem;
		position: relative;
		top: -.4rem;
		word-spacing: .2rem;
	}
}

.sidebar {
	&__link-item {
		position: relative;
		font-size: 2rem;
		color: $black;
		top: -.6rem;
		font-weight: 500;
		
		@include respond(phone) {
			font-size: 1.8rem;
		}
	}
}

.header {
	color: $white;

	&__title {
		line-height: 1.2;
		position: relative;
		left: -.5rem;
		font-size: 10rem;
		text-transform: uppercase;
	}

	&__subtitle {
		line-height: 0;
		font-size: 3.5rem;
		text-transform: uppercase;
	}

	&__paragraph {
		position: relative;
		font-size: 1.6rem;
		top: 2rem;
	}

	@include respond(tab-port) {
		&__title {
			font-size: 8rem;
		}

		&__subtitle {
			font-size: 3em;
		}

		&__paragraph {
			font-size: 1.5rem;
		}
	}

	@include respond(phone) {
		&__title {
			font-size: 6rem;
		}

		&__subtitle {
			font-size: 2rem;
		}

		&__paragraph {
			font-size: 1.3rem;
		}
	}
}

.menus {
	&__description--left {
		font-size: 1.4rem;
		font-weight: 600;
		color: $white;
	}

	&__description--right {
		text-align: right;
		font-size: 1.4rem;
		color: white
	}
}

.food-items {
	&__heading {
		font-size: 1.6rem;
		font-weight: 500;
	}

	&__sub-heading {
		position: relative;
		top: -.3rem;
		color: grey;
		font-weight: 500;
		font-size: 1.2rem;
	}

	&__quantity {
		font-size: 1.2rem;
		font-weight: 500;
	}
}

.login-signup {
	&__message-heading {
		font-size: 3.2rem;
		text-align: center;
		font-weight: 500;
		color: $white;
	}

	&__message-para {
		font-size: 1.6rem;
		color: $white;
		text-align: center;
	}

	&__form-heading {
		text-align: center;
	    font-size: 4.5rem;
	    font-weight: 700;
	    background-image: linear-gradient(to right, #{$primary-color} 30%, #{$secondary-color} 70%);
	    -webkit-background-clip: text;
	    background-clip: text;
	    color: transparent;
	}

	&__form-subheading {
		font-size: 1.8rem;
		text-align: center;
		font-weight: 600;
		font-style: italic;
	}

	@include respond(tab-port) {
		
	}

	@include respond(phone) {
		&__form-heading {
			font-size: 2.9rem;
			font-weight: 700;
		}

		&__form-subheading {
			font-size: 1.6rem;
			font-weight: 500;
		}
	}
}

.order {
	&__heading {
		font-size: 2.2rem;
		font-weight: 600;
	}

	&__cart-item-title {
		margin-left: 1.2rem;
		font-size: 1.3rem;
		font-weight: 400;
	}

	&__cart-item-price {
		width: 40px;
		float: right;
		text-align: right;
		font-size: 1.3rem;
		
		&::before {
			content: "\20B9";
			margin-right: 4px;
			font-weight: 500;
		}

		&::after {
			content: "";
			clear: both;
		}
	}

	&__cart-bill-heading {
		font-size: 1.65rem;
	}

	&__cart-bill {
		font-size: 1.3rem;
		
		&-price {			
			&::after {
				content: "";
				clear: both;
			}

			&::before {
				content: "\20B9";
				margin-right: 4px;
				font-weight: 500;
			}
		}
	}

	&__cart-footer {
		font-size: 1.7rem;
		font-weight: 700;
	}

	&__cart-footer-price {
		float: right;
		
		&::after {
			content: "";
			clear: both;
		}

		&::before {
			content: "\20B9";
			margin-right: 4px;
			font-weight: 500;
		}
	}

	@include respond(tab-port) {
		&__heading {
			font-size: 1.9rem;
		}

		&__cart-bill-heading {
			font-size: 1.5rem;
		}
	}

	@include respond(phone) {
		&__heading {
			font-size: 1.7rem;
		}

		&__cart-item-title {
			margin-left: .7 rem;
		}

		&__cart-item-price {
			width: 30px;
		}
	}
}