// Margin Top Utility Class
.u-margin-top-small { margin-top: 1rem !important }
.u-margin-top-medium { margin-top: 2.5rem !important }
.u-margin-top-large { margin-top: 3.5rem !important }
.u-margin-top-extra-large { margin-top: 4.5rem !important }

// Margin Bottom Utility Classes
.u-margin-bottom-small { margin-bottom: 1rem !important }
.u-margin-bottom-medium { margin-bottom: 2.5rem !important }
.u-margin-bottom-large { margin-bottom: 3.5rem !important }
.u-margin-bottom-extra-large { margin-bottom: 4.5rem !important }

// Grid Gap Utility Classes
.u-no-grid-gap { grid-gap: 0px !important }
.u-grid-gap-small { grid-gap: $grid-gap-small !important }
.u-grid-gap-medium { grid-gap: $grid-gap-medium !important }
.u-grid-gap-large { grid-gap: $grid-gap-large !important }
.u-grid-gap-extra-large { grid-gap: $grid-gap-extra-large !important }

// Grid Aligining Utility Classes
.u-grid-align-content-left { align-content: left }
.u-grid-align-content-right { align-content: right }
.u-grid-align-content-center { align-content: center }
.u-grid-align-items-left { align-items: left }
.u-grid-align-items-right { align-items: right }
.u-grid-align-items-center { align-items: center }

// Sets the max width to browser's default
.u-max-width-auto { max-width: initial !important }

// Sets the max width on an elements
.u-apply-max-width { 
	max-width: $grid-max-width !important;
	margin: 0 auto;
	display: block;
}

// Inline elements aligining utiltiy classes
.text-align-center { text-align:center !important }
.text-align-left { text-align:left !important }
.text-align-right { text-align:right !important }

.u-show-after-tab-port { display: none !important }

// Enabling Responsiveness in above classes
@include respond(tab-port) {
	.u-margin-top-small { margin-top: .5rem !important }
	.u-margin-top-medium { margin-top: 2rem !important }
	.u-margin-top-large { margin-top: 3rem !important }
	.u-margin-top-extra-large { margin-top: 4rem !important }

	.u-margin-bottom-small { margin-bottom: .5rem !important }
	.u-margin-bottom-medium { margin-bottom: 2rem !important }
	.u-margin-bottom-large { margin-bottom: 3rem !important }
	.u-margin-bottom-extra-large { margin-bottom: 4rem !important }
	
	.u-grid-gap-small { grid-gap: .3rem !important }
	.u-grid-gap-medium { grid-gap: .5rem !important }
	.u-grid-gap-large { grid-gap: .5rem !important }
	.u-grid-gap-extra-large { grid-gap: 1rem !important }
	
	.u-apply-max-width {
		max-width: $grid-max-width-tab !important;
	}

	.u-show-after-tab-port {
		display: block !important;
	}
}