/*
    // MEDIA QUERY MANAGER

    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800px] is where our normal styles apply
    1800px +    :   Big desktop

    // $breakpoint argument choices

    - phone
    - tab-port
    - tab-land
    - big-desktop
    
    1em = 16px
    // em units works differently in media queries. 
    // Instead of being relative to the root font size they are relative to user agent font size which is 16 px defaultly)


    // ORDER: Base + Typography > General layout + grid > page layout > components
*/

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin abs-center {
    & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin v-center {
    & {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            // 600px
            @content;
        }
    }
    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            // 900px
            @content;
        }
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            // 1200px
            @content;
        }
    }
    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            // 1800px +
            @content;
        }
    }
}