// Colors
$primary-color: #E94F37;
$secondary-color: #E28413;
$white: #ffffff;
$black: #000000;
$primary-gradient: linear-gradient(to right, #{$primary-color}, #{$secondary-color});

// Font
$primary-font: 'Montserrat', sans-serif;

// Grid
$grid-gap-default: 3rem;
$grid-gap-med: 5rem;
$grid-gap-large: 9rem;

$grid-max-width: 130rem;

// Border
$border-radius: 1rem;
$box-shadow-primary: 5px 5px 10px rgba(0,0,0,.16);
$box-shadow-secondary: 0 .3rem 1rem rgba(0,0,0,.16);


@include respond(tab-port) {
    $border-radius: .5rem;
    $grid-gap: 2rem;
}