// Colors
$primary-color: #E94F37;
$secondary-color: #E28413;
$white: #ffffff;
$black: #000000;
$primary-gradient: linear-gradient(to right, #{$primary-color}, #{$secondary-color});

// Font
$primary-font: 'Montserrat', sans-serif;

// Grid
$grid-gap-small: 3rem;
$grid-gap-medium: 5rem;
$grid-gap-large: 8rem;
$grid-gap-extra-large: 10rem;

$grid-max-width: 120rem;
$grid-max-width-tab: 75rem;

// Border
$border-radius: 1rem;
$box-shadow-primary: 4px 4px 15px rgba(0,0,0,.15);
$box-shadow-secondary: 0 .3rem 1rem rgba(0,0,0,.16);