.order {
	padding: 4rem 1rem; 
	
	&__container {
		display: grid;
		grid-template-columns: 9fr 5fr;
		grid-gap: 4rem;
		grid-template-areas: 
			"address cart"
			"payment .";
	}

	&__address { grid-area: address }
	&__cart { grid-area: cart; position: relative }
	&__payment { grid-area: payment }

	&__address,
	&__cart,
	&__payment {
		box-shadow: 0 0 1rem rgba($black, .15);
		padding: 2.8rem;
	}

	&__address-box {
		display: inline-block;
		width: 45%;
		padding: 1.5rem;
		box-shadow: 0 0 .5rem rgba($black, .15);
		
		&:not(:first-child) {
			margin-right: 3rem;
		}

		@include respond(phone) {
			width: 100%;
			margin: 0;
			
			&:not(:last-child) {
				margin-bottom: 2.5rem;
			}
		}
	}

	&__address-add-new {
		border: 1px dashed rgba($black, 0.2);
		padding: 1.5rem;
		width: 45%;
		margin-top: 3rem;
		
		@include respond(phone) {
			margin-top: 0;
			width: 100%;
		}
	}

	&__address-heading {
		& > * {
			display: inline-block;
		}

		h5 {
			position: relative;
			top: -3px;
			left: 7px;
			font-size: 1.5rem;
			font-weight: 500;
		}

		img {
			width: 2rem;
		}
	}

	&__cart-header {
		width: 100%;
		display: block;
		padding: 0 0 1rem 0;
		border-bottom: 2px solid rgba($black, 0.1);
	}

	&__cart-list-container {
		height: 55vh;
	}

	&__cart-list {
		margin-top: 2rem;
		list-style-type: none;
	}

	&__cart-list-item {
		margin: 2rem 0;
		position: relative;
		
		& > * {
			display: inline-block;
		}

		img {
			width: 15px;
			top: 3px;
			position: relative;
		}
	}

	&__cart-item-controller {
		border: 1px solid rgba($black, 0.2);
		padding: 2px 4px 1px 4px;
		float: right;
		margin-right: 3rem;
		width: 7rem;
		position: relative;
		top: -2px;
		text-align: center;

		& > * {
			display: inline-block;
		}

		&::after {
			content: "";
			clear: both;
		}

		p.plus, p.minus {
			transition: .2s all;
			cursor: pointer;
			
			&::after {
				content: "";
				clear: both;
			}
		}

		p.plus, p.minus, p.quantity {
			font-size: 1.5rem;
			font-weight: 500;
		}

		p.plus { float: left; }

		p.minus {
			position: relative;
			right: 4px;
			letter-spacing: -2px;
			float: right;
		}

		p.minus:hover,
		p.plus:hover {
			transform: scale(1.2);
		}

		@include respond(phone) {
			margin-right: 1rem;
			width: 6rem;
			
			p.minus {
				right: 2px;
			}
		}
	}

	&__cart-bill {
		margin-bottom: .3rem;
		
		&-price {
			float: right;
		}

		& > * {
			display: inline-block;
		}
	}

	&__cart-hr {
		margin: 1rem 0;
		border-color: rgba($black, .1);
		border-width: .5px;
		background-color: rgba($black, .1);
	}

	&__cart-footer {
		position: absolute;
		width: 100%;
		position: relative;
		bottom: 0;
		border-top: 2px solid rgba($black, 0.8);
		border-bottom: 2px solid rgba($black, 0.8);
		padding: 1rem 0;
		
		& > * {
			display: inline-block;
		}
	}

	@media (max-width: 1100px) {
		&__container {
			grid-gap: 2rem;
			grid-template-areas: 
				"address address"
				"cart cart"
				"payment payment"
		}

		&__cart-list-container {
			height: auto;
		}

		&__cart-footer {
			margin-top: 3rem;
		}
	}

	@include respond(tab-port) {
		padding: 2.5rem 1rem;
	}
}

.modal {
	display: none;
	
	&__overlay {
		overflow: hidden;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 11000;
		background-color: rgba($black, .3);
	}

	&__container {
		width: 60%;
		padding: 3rem;
		background-color: $white;
		
		@include abs-center;
	}

	#modal-overlay-hide {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 2.5rem;
		cursor: pointer;
	}

	@include respond(phone) {
		&__container {
			width: 85%;
		}
	}
}