.header {
	grid-template-rows: 85vh 15vh;
	
	&__primary {
		background: url("../images/img-comp/carousel1.png") 0% 70% no-repeat;
		background-size: cover;
	}

	&__secondary {
		background: purple;
	}
}