.header {
	grid-template-rows: 85vh 15vh;

	&__primary {
		background: url("../images/img-comp/carousel1.png") 0% 70% no-repeat;
		background-size: cover;
		position: relative;
	}

	&__primary-content {
		padding: 0 1rem;
		width: 58%;
		
		@include v-center;
		top: 55% !important;
	}

	&__social-media-links {
		position: absolute;
		bottom: 3%;
		list-style-type: none;
		padding: 0 1rem;
	}

	&__social-media-link {
		display: inline;
		
		& > * {
			padding-right: 2.5rem;
		}
		
		&--1 { width: 2.5rem; }
		&--2 { width: 2.5rem; }
		&--3 { width: 2.3rem; }
	}

	&__secondary {
		background-image: $primary-gradient;
		padding: 0 1rem;
		
		& > * {
			height: 100%;
			position: relative;
		}
	}

	&__secondary-icon {
		width: 8rem;
	}

	@include respond(tab-port) {
		& {
			grid-template-rows: 60vh;
		}

		&__primary {
			background-image: linear-gradient(to right, rgba($black, 0.6), rgba($black, 0.6)), url("../images/img-comp/carousel1.png");
			background-position: 50% 70%;
			background-size: cover;
		}

		&__primary-content {
			width: 70%;
			padding: 0 1rem;
		}

		&__social-media-links {
			padding: 0 1rem;
		}

		&__secondary {
			display: none;
		}
	}

	@include respond(phone) {
		& {
			grid-template-rows: 50vh;
		}	

		&__primary {
			background-position: 100% 70%;
		}

		&__primary-content {
			width: 90%;
			top: 60% !important;
		}

		&__social-media-links {
			display: none;
		}
	}
}

.about {
	padding: 4rem 1rem 2rem 1rem;
	
	& > div > ul.paragraph__ul {
		margin-top: -.2rem;
		margin-left: 1.5rem;
	}
	
	&__right-img {
		width: 90%;
		position: relative;
	}

	@include respond(tab-port) {
		& { padding: 3rem 1rem 2rem 1rem }

		& > *:last-child { display: none }	
	}

	@include respond(phone) {
		& { padding: 2rem 1rem }
	}
}

.menus {
	padding: 2rem 1rem;

	@include respond(tab-port) {
		&__cards-controller {
			display: none;
		}
	}
}

.food-items {
	padding: 2rem 1rem;
	
	&__cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $grid-gap-small;
	}

	@include respond(tab-port) {	
		&__cards-container {
			grid-gap: 1.5rem !important;
			grid-template-columns: 1fr 1fr;
		}
	}

	@include respond(phone) {
		padding: 0rem 1rem !important;
		&__cards-container {
			grid-auto-rows: 10rem;
		}
	}
}

.timing {
	padding: 2rem 1rem;
	
	& > div > h3 {
		width: 35%;
		line-height: 1;
	}

	&__cards-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: $grid-gap-large;
	}

	@include respond(tab-port) {
		& > div > h3 {
			width: 35rem;
		}

		&__cards-container {
			grid-gap: 3rem;
		}
	}

	@include respond(phone) {
		padding: .5rem 1rem !important;

		&__cards-container {
			grid-gap: 1.5rem;
		}
	}
}

.testimonials {
	padding: 4rem 1rem 2rem 1rem;
	
	& > div > h3 {
		width: 20%;
		line-height: 1;
		position: relative;
	}

	@include respond(tab-port) {
		padding: 2rem 1rem;

		& > div > h3 {
			width: 25rem;
		}
	}
}

.contact {
	padding: 2rem 1rem 6rem 1rem;
	
	&-container {
		overflow: hidden;
		display: grid;
		grid-template-columns: 4fr 8fr;
		box-shadow: $box-shadow-primary;
		border-radius: 1rem;
	}

	&-left {
		background-image: $primary-gradient;
		padding: 2.5rem
	}

	&-right {
		padding: 2.5rem;
	}
}