.header {
	grid-template-rows: 85vh 15vh;

	&__primary {
		background: url("../images/img-comp/carousel1.png") 0% 70% no-repeat;
		background-size: cover;
		position: relative;
	}

	&__primary-content {
		padding: 0 1rem;
		width: 58%;
		
		@include v-center;
		top: 55% !important;
	}

	&__social-media-links {
		position: absolute;
		bottom: 3%;
		list-style-type: none;
		padding: 0 1rem;
	}

	&__social-media-link {
		display: inline;
		
		& > * {
			padding-right: 2.5rem;
		}
		
		&--1 { width: 2.5rem; }
		&--2 { width: 2.5rem; }
		&--3 { width: 2.3rem; }
	}

	&__secondary {
		background-image: $primary-gradient;
		padding: 0 1rem;
		
		& > * {
			height: 100%;
			position: relative;
		}
	}

	&__secondary-icon {
		width: 8rem;
	}

	@include respond(tab-port) {
		& {
			grid-template-rows: 65vh;
		}

		&__primary {
			background-image: linear-gradient(to right, rgba($black, 0.6), rgba($black, 0.6)), url("../images/img-comp/carousel1.png");
			background-position: 50% 70%;
			background-size: cover;
		}

		&__primary-content {
			width: 70%;
			padding: 0 2rem;
		}

		&__social-media-links {
			padding: 0 2rem;
		}

		&__secondary {
			display: none;
		}
	}

	@include respond(phone) {
		& {
			grid-template-rows: 55vh;
		}	

		&__primary {
			background-position: 100% 70%;
		}

		&__primary-content {
			width: 90%;
			top: 58% !important;
		}

		&__social-media-links {
			display: none;
		}
	}
}

.about {
	padding: 4rem 1rem 2rem 1rem;
	
	&__right-img {
		width: 90%;
		position: relative;
	}

	@include respond(tab-port) {
		& {
			padding: 2rem;
		}

		& > *:last-child {
			display: none;
		}	
	}
}

.menus {
	padding: 2rem 1rem;

	@include respond(tab-port) {
		& {
			padding: 2rem;
		}

		&__cards-controller {
			display: none;
		}
	}
}

.food-items {
	padding: 2rem 1rem;
	
	&__cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $grid-gap-small;
	}

	&__card {
		overflow: hidden;
		border-radius: .5rem;
		box-shadow: $box-shadow-primary;
		display: grid;
		grid-template-columns: 3.5fr 7.5fr;
		grid-gap: 1rem;
	}

	&__card-img-wrapper {
		width: 100%;
		height: 100%;
	}

	&__card-img {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__show-more {
		width: 100%;
		display: block;
		position: relative;
		background-image: $primary-gradient;
		overflow: hidden;
		border-radius: .5rem;
		box-shadow: $box-shadow-primary;
	}

	&__show-more-text-shadow {
		color: rgba($white, 0.09);
		font-size: 4.5rem;
		text-align: center;
		font-weight: 700;
		position: relative;
		top: 1rem;
	}

	&__show-more-text {
		width: 100%;
		color: $white;
		font-size: 3rem;
		text-align: center;
		font-weight: 700;
		
		@include abs-center;
	}

	@include respond(tab-port) {
		padding: 2rem;
		
		&__cards-container {
			grid-template-columns: 1fr 1fr;
		}

		&__show-more {
			height: 8rem;
			grid-column: span 2;
		}
	}

	@include respond(phone) {
		&__cards-container {
			grid-auto-rows: minmax(10rem, auto);
		}
		&__card {
			grid-column: span 2;
		}
	}
}