.header-secondary {
	padding: 7rem 1rem;
	background-image: 
	linear-gradient(to right, rgba($black, 0.6), rgba($black, 0.4)),
	url("../images/img-comp/background-img-2.jpg");
	background-position: center left;
	background-size: cover;
	
	&__title {
		font-size: 3.4rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 6px;
		color: $white;
	}

	&__subtitle {
		color: $white;
		width: 70%;
		margin: 0 auto;
		display: block;
		font-size: 1.3rem;
	}
}

.maps {
	padding: 1rem 1rem 4.5rem 1rem;
	
	&__iframe {
		width: 100%;
		border-radius: 1rem;
		box-shadow: 0 .5rem 1rem rgba($black, .4);
	}
}