.primary-button {
	& {	
		background: $primary-gradient;
		border-radius: .8rem;
		border: none;
		padding: 1.3rem 1.8rem;
		cursor: pointer;
		display: block;
		box-shadow: $box-shadow-primary;
		
		@include respond(tab-port) {
			border-radius: .5rem;
			padding: .9rem 1.6rem;
		}

		@include respond(phone) {
			border-radius: .3rem;
			padding: .7rem 1.4rem;
		}
	}

	& a {
		text-transform: uppercase;
		color: $white;
		font-size: 1.3rem;
		font-weight: 500;
		text-align: center;
		letter-spacing: 1px;
		
		@include respond(tab-port) {
			font-size: 1.2rem;
		}

		@include respond(tab-port) {
			font-size: 1.2rem;
			font-weight: 700;
		}
	}
}

.filter-button {
	display: block;
	background: $primary-gradient;
	border: none;
	border-radius: .8rem;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	box-shadow: $box-shadow-primary;

	p {
		position: relative;
		color: $white;
		font-weight: 500;
		font-size: 1.6rem;
		letter-spacing: 2px;
		font-weight: 600;
	}
}

.menus-detail-button {
	background-color: $white;
	border-radius: .8rem;
	border: none;
	padding: 1rem 2rem;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	box-shadow: $box-shadow-primary;
	
	a {
		color: $primary-color;
		font-size: 1.3rem;
		font-weight: 500;
		letter-spacing: 1px;
	}
}

.login-signup__button {
	border-radius: 45px;
	border: 1.3px solid $white;
	padding: 1rem 4rem;
	background-color: rgba($white, .1);
	cursor: pointer;
	
	a {
		color: $white;
		font-size: 1.7rem;
		font-weight: 300;
	}
}

.order__deliver {
	border: none;
	background: $primary-gradient;
	padding: 5px 1rem;
	color: $white;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .2s;
	font-size: 1.5rem;
	outline: none;
}

.order__deliver:hover {
	transform: translateY(-2px);
	box-shadow: 5px 5px .5rem rgba($black, .1);
}

.order__add-new {
	border: 2px solid $primary-color;
	padding: 3px 1.4rem;
	color: $primary-color;
	background-color: $white;
	font-weight: 600;
	font-size: 1.4rem;
	cursor: pointer;
	text-transform: uppercase;
	transition: all .2s;
	outline: none;
}

.order__add-new:hover {
	background-color: $primary-color;
	color: $white;
	transform: translateY(-2px);
	box-shadow: 0 5px .5rem rgba($black, .1);
}

@include respond(tab-land) {
	.order__deliver {
		letter-spacing: 1px;
		font-weight: 600;
		font-size: 1.1rem;
	}

	.order__add-new {
		font-size: 1.1rem;
	}
}