.contact {
	&__container {
		overflow: hidden;
		display: grid;
		grid-template-columns: 4fr 8fr;
		box-shadow: $box-shadow-primary;
		border-radius: 1rem;
	}

	&__left {
		background-image: $primary-gradient;
		padding: 3rem
	}

	&__right {
		padding: 2.5rem;
		background-color: $white;
	}

	&__ul {
		list-style-type: none;
	}

	&__li {
		margin: 2.5rem 0;
		display: grid;
		grid-template-columns: 1fr 11fr;
	}

	&__icon {
		& > * {
			width: 2.4rem;
			margin-right: 2rem;
		}
	}

	&__li-text {
		font-size: 1.5em;
		color: white;
	}

	@include respond(tab-port) {
		&__container {
			display: block;
		}

		&__left,
		&__right {
			padding: 2rem;
		}

		&__li {
			margin: 1.5rem 0;
		}

		&__icon {
			& > * {
				margin-right: 1.5rem !important;
			}
		}
	}
}