.info-banner {
	display: none;
    background-image: $primary-gradient;
    padding: 1rem;
    
    &__box {
    	display: grid;
    	grid-gap: 1.5rem;
    	
    	&--1 {
    		grid-template-columns: 1fr 11fr;
    	}

    	&--2 {
    		grid-template-columns: 11fr 1fr;
    	}
    }

	@include respond(tab-port) {
		display: block;
	}

    @include respond(phone) {

        &__box {
            display: block;
            margin: 1rem 0 .5rem 0;
        }

        &__icon {
            display: none;
        }
    }
}