.login-signup-form {
	padding-top: 4rem;
	
	&__input-group {
		display: grid;
		grid-gap: 1rem;
		
		&--full { grid-template-columns: 1fr }
		&--half { grid-template-columns: 1fr 1fr }
		
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__input {
		width: 100%;
		border: 1px solid lightgray;
		width: 100%;
		padding: 2.2rem 2rem;
		font-size: 1.5rem;
		background-color: rgba($black, .05);
		border-radius: .7rem;
	}

	&__input::placeholder {
		font-weight: 400;
		color: rgba($black, .4);
	}

	&__input[type="password"] {
		font-weight: 900;
		letter-spacing: 6px;
	}

	&__input[type="password"]::placeholder {
		font-size: 8.5rem;
		font-weight: 400;
		letter-spacing: 4px;
		color: rgba($black, .3);
	}

	&__input,
	&__button {
		outline: none;
	}

	&__submit {
		background-color: $primary-color;
		border-radius: 3rem;
		color: $white;
		font-size: 1.7rem;
		padding: .9rem 3.5rem;
		border: none;
		display: block;
		margin: 0 auto;
		box-shadow: $box-shadow-primary;
		cursor: pointer;
	}

	@include respond(phone) {
		padding-top: 5rem;
		
		&__input-group {
			&--full,
			&--half {
				grid-template-columns: 1fr;
			}
		}
		
		&__input {
			font-size: 1.5rem;
			padding: 1.8rem 1.3rem;
			border-radius: .7rem;
			font-weight: 500;
		}

		&__input[type="password"]::placeholder {
			font-size: 7rem;
			font-weight: 400;
			letter-spacing: 2px;
			color: rgba($black, .3);
		}

		&__submit {
			font-size: 1.5rem;
			font-weight: 400;
		}
	}
}