.login-signup {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	&__message-container {
		background-image: url("../images/img-comp/form-wall.png");
		background-size: cover;
		background-position: right center;
		position: relative;	
	}

	&__form-container {
		position: relative;
	}

	&__small {
		grid-column: span 4;
	}

	&__big {
		grid-column: span 8;
	}

	&__small,
	&__big {
		position: relative;
	}

	&__logo {
		img {
			margin: 1.4rem;
			width: 10rem;
			position: relative;	
			
			@include respond(tab-port) {
				position: fixed;
				margin: 1rem;
				width: 7rem;
			}
		}
	}

	&__message-content {
		width: 90%;
		padding: 1rem;
		@include abs-center;
	}

	&__back-button {
		display: block;
		position: absolute;
		right: 0;
		margin: 2rem 2.5rem;
		cursor: pointer;
		
		img {
			display: inline-block;
			width: 2.4rem;
		}

		a {	
			position: relative;
			top: -.6rem;
			font-size: 1.7rem;
			font-weight: 500;
			text-decoration: underline;
			color: $primary-color;
			display: inline-block;
		}
	}

	&__form-content {
		width: 65%;
		
		@include abs-center;
	}

	&__text-content {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 3rem;
		
		& > * {
			display: inline;
		}
	}

	&__alt-link {
		text-decoration: underline;
		color: $secondary-color;
		font-size: 1.5rem;
		font-weight: 500;
		position: relative;
		left: .8rem;
	}

	@include respond(tab-port) {
		&__message-container {
			display: none;
		}	

		&__big {
			grid-column: span 12;
		}
	}

	@include respond(phone) {
		&__form-content {
			width: 90%;
		}
	}
}