.testimonials {
	&__card {
	    width: inherit;
	    height: 100%;
	    background-image: $primary-gradient;	
	    box-shadow: $box-shadow-primary;
	    border-radius: 8px;
	    position: relative;
	    z-index: -2;
	    
	    &::after {
	    	z-index: 2;
	    	content: "";
	    	height: 90%;
	    	width: 100%;
	    	background-color: $white;
	    	border-radius: 8px;
	    	left: 0;
	    	z-index: -1;
	    	
	    	@include v-center;
	    }
	}

	&__img {
		&--1 { }
		&--2 { }
		&--3 { }

		width: 8rem;
		height: 8rem;
		position: absolute;
		top: -3rem;
		left: 50%;
		transform: translateX(-50%);
	}

	&__details {
		width: 90%;
		padding: 3rem 0 3rem 0;
		display: block;
		margin: 0 auto;
	}

	@include respond(tab-port) {
		&__card {
			width: 75%;
			margin: 0 auto;
		}
	}
}