.testimonials {
	&__container {
		padding-top: 4rem;
		
	}
	&__card {
	    width: inherit;
	    height: 100%;
	    background-image: $primary-gradient;	
	    box-shadow: $box-shadow-primary;
	    border-radius: 8px;
	    position: relative;
	    z-index: -2;
	    
	    &::after {
	    	z-index: 2;
	    	content: "";
	    	height: 90%;
	    	width: 100%;
	    	background-color: $white;
	    	border-radius: 8px;
	    	left: 0;
	    	z-index: -1;
	    	box-shadow: none;
	    	
	    	@include v-center;
	    }
	}

	&__img {
		&--1 { }
		&--2 { }
		&--3 { }

		width: 8rem;
		height: 8rem;
		position: absolute;
		top: -3rem;
		left: 50%;
		transform: translateX(-50%);
	}

	&__details {
		width: 90%;
		padding: 3rem 0 3rem 0;
		display: block;
		margin: 0 auto;
	}

	&__controllers {
		display: none;
		margin: 1.5rem 0;
		text-align: center;
	}

	&__indicator {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 100%;
		border: 1px solid $primary-color;
		margin: 0 1rem;

		&--1 {
			background-color: $primary-color
		}
	}

	@include respond(tab-port) {
		&__card {
			width: 95%;
			margin: 0 auto;
		}

		&__container {
			width: 100%;
			margin: 0 auto;
			grid-gap: 4rem !important;
		}

		&__details {
			width: 80%;
			padding: 5rem 0;
		}

		&__controllers {
			display: block;
		}
	}

	@include respond(phone) {
		&__card {
			box-shadow: $box-shadow-secondary;
			width: 96%;
		}

		&__details {
			padding: 3rem 0;
		}

		&__container {
			column-gap: 0rem !important;
		}
	}
}