.timing {
	&__card {
		padding: 1rem;
		border-radius: 5px;
		background-image: $primary-gradient;
		position: relative;
		
		& > h4 {
			font-size: 2.1rem;
		}

		&--3 {
			grid-column: span 2;
			padding: 1.5rem;
			
			& > *:not(img) {
				width: 65%;
			}
		}
	}

	&__card-img {
		position: absolute;
		
		&--1 {
			width: 24%;
			right: 2rem;
			bottom: -6rem;
			transform: rotate(15deg);
		}

		&--2 {
			width: 25%;
			right: 2rem;
			bottom: -5rem;
			transform: rotate(-20deg);
		}

		&--3 {
			width: 30%;
			right: 8rem;
			top: -5rem;
			transform: rotate(35deg);
		}
	}
}