.footer {
	background-image: $primary-gradient;
	padding: 2.5rem 1rem;
	overflow: hidden;
	width: 100%;
	
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	&__intro,
	&__contact {
		grid-column: span 4;
	}

	&__info,
	&__meals {
		grid-column: span 2;
	}
	
	&__logo {
		width: 25%;
	}

	&__ul {
		margin-top: .8rem;
		margin-left: .8rem;
		list-style-type: none;
	}

	&__li {
		margin: 1rem 0;

		a {
			color: $white;
			font-size: 1.4rem;

			&::before {
				font-size: 1.3rem;
				position: relative;
				right: .7rem;
				content: "\2192";
				color: white;
			}	
		}
	}

	&__aboutus-ul {
		position: relative;
		top: .5rem;
		
		& > * {
			margin: 1rem 0 !important;
		}
	}

	@include respond(tab-port) {		
		&__intro {
			margin-top: 3rem;
			grid-row: 2;
			grid-column: span 6;
		}

		&__info, &__meals, &__contact {
			grid-column: span 4;
		}
	}

	@include respond(phone) {
		
		&__intro {
			grid-row: span 7;
			grid-column: span 12;
		}

		&__info, &__meals {
			grid-row: 1;
			grid-column: span 6;
		}

		&__contact {
			margin-top: 4rem;
			grid-row: 2;
			grid-column: span 12;
		}
	}
}