.grid {
    max-width: $grid-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    // Names Grids
    .grid__full { grid-column: span 12; }
    .grid__half { grid-column: span 6; }
    .grid__third { grid-column: span 4; }

    // Numbered Grids
    .grid__span1 { grid-column: span 1; }
    .grid__span2 { grid-column: span 2; }
    .grid__span3 { grid-column: span 3; }
    .grid__span4 { grid-column: span 4; }
    .grid__span5 { grid-column: span 5; }
    .grid__span6 { grid-column: span 6; }
    .grid__span7 { grid-column: span 7; }
    .grid__span8 { grid-column: span 8; }
    .grid__span9 { grid-column: span 9; }
    .grid__span10 { grid-column: span 10; }
    .grid__span11 { grid-column: span 11; }
    .grid__span12 { grid-column: span 12; }

    @include respond(tab-port) {
        max-width: $grid-max-width-tab;

        & [class*="grid__"] {
            grid-column: span 12;
        }
    }
}