.nav {
	width: 100%;
	display: block;
	position: fixed;
	background-color: $white;
	z-index: 100;
	padding: 0 1rem;
	box-shadow: $box-shadow-primary;
	
	@include respond(tab-port) {
		display: none;
	}

	&__wrapper {
		align-items: center;
	}

	&__logo-img {
		width: 55%;
		position: relative;
		padding: 1rem 0;
	}

	&__links-wrap {
		display: grid;
		justify-items: end;
	}

	&__links {
		list-style-type: none;
	}

	&__link {
		display: inline-block;
		margin: 0 1.5rem;
	}

	&__link-icon {
		position: relative;
		right: .3rem;
		width: 1.7rem;
	}

}

.mob-nav {
	background-color: $white;
	width: 100%;
	position: fixed;
	display: none;
	z-index: 100;
	box-shadow: $box-shadow-primary;
	
	@include respond(tab-port) {
		display: block;
	}

	&-wrapper {
		padding: 1rem 2rem;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 10fr 1fr;
	}

	&__logo-img {
		margin: 0 auto;
		display: block;
		width: 8rem;
		position: relative;
	}

	&__menu-icon,
	&__cart-icon {
		width: 25px;
	}

	&__cart {
		display: grid;
		justify-items: end;
	}
}

.sidebar {
	display: none;
	position: fixed;
	z-index: 100;
	height: 100vh;
	width: 100vw;
	
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 5;
	}

	&__close-icon {
		width: 3rem;
	}
	
	&__left {
		background-color: rgba($black, 0.3);
		width: 60%; height: inherit;
		float: left;
		
		animation: opacity-in 1s ease-in;
	}

	&__right {
		display: none;
		position: relative;
		background-color: $white;
		width: 40%; height: inherit;
		box-shadow: -10px -10px 10px rgba($black, 0.16);
		float: right;
		transition: 1s all;
		
		animation: sidebar-right-side-in .4s cubic-bezier(.68,1.08,.58,.96);
	}

	@include clearfix;

	&__items {
		margin: 2rem 0;
		list-style-type: none;
	}

	&__item {
		margin: 2.5rem;
	}

	&__link-icon {
		width: 20px;
		margin-right: 1rem;
	}

	&__logo-wrapper {
		background-image: $primary-gradient;
		height: 7rem;
		position: relative;
	}

	&__logo {
		width: 25%;
		
		@include v-center;
		margin-left: 2.5rem;
	}

	@include respond(phone) {
		&__left {
			width: 30%;
		}

		&__right {
			width: 70%;
		}

		&__logo {
			width: 70px;
		}
	}
}